html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.purchase > div {
    width: 2rem;
    display: inline-block;
    height: 5rem;
}
.purchase div.employees {
    margin-right: 7rem;
}
.purchase div.customers {
    margin-right: 3rem;
}
.purchase div.countries {
    margin-right: 4rem;
}
.purchase div.cities {
    margin-right: 6rem;
}.purchase div.products {
    margin-right: 10rem;
}.purchase div.quantity {
    margin-right: 4rem;
}
 .items {
     margin-right:9rem;
 }
button {
    display:block
}

@media only screen and (max-width: 768px) {
    .barchart-card {
        min-height: 250px;
    }

}
.finalBasquetModal {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
}
    .finalBasquetModal > div {
        width: 50%;
        height: 50%;
        background-color: white;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }


